 /*调整header logo背景*/
@media (max-width: 767px) {
    .skin-black .main-header>.logo:hover {
        background-color: #fff;
    }
    .skin-black .main-header>.logo {
        background-color: #fff;
        color: #fff;
        border-bottom: 0 solid transparent;
        border-right: none;
    }
}

/*调整左侧遍导航条*/
/*.skin-black .wrapper, .skin-black .main-sidebar, .skin-black .left-side {*/
    background-color: #328bcd;
}
/*调整用户面板头像*/
.user-panel{
	margin-top: 10px;
}
.user-panel>.image>img {
 
    max-width: 120px;
    max-height: 120px;
  
}
.user-panel>.image{
 
    text-align: center;
  
}
.user-panel .info{
	position: relative;
}

/*调整新闻展示栏位置*/

#news{
  
    margin: 15px auto;
    width: 96%;
   
}

 img{
    margin: 0 auto;
}

/*调整个人看板位置*/
.dashboard{
   
   width: 96%;
   margin: 0 auto;
}

/*简介页面头像样式*/
#myuser-img{
    margin: 0 auto;
    width: 100%;
    background: none;
    border: none;
}

#myuser-img:hover{

    background: none;
    border: none;

}
/* jsp不识别line-height属性，消息框调整 */
.info-box > .info-box-icon{
	padding-top:20px;
}
#profileUserImg{
	width: 120px;
    height: 120px;
}
.img_bg{
    width: 100px;
    height: 100px;
}
.preview-lg{
    max-width: 150px;
    max-height: 150px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    left: 670px;
}
#img_container{
	width: 600px;
    height: 360px;
    position: absolute;
}
.modal-dialog{
    width: 900px;
}
#img_content{
    height: 586px;
}
#img_row{
    width: 864px;
    height: 379px;
}
/* .img_bg{
    width: 100px;
    height: 100px;
} */

/* 调整图表中的小图标houver效果 */
span.glyphicon.glyphicon-picture:hover{

    background-color: blanchedalmond;
  
}
span.glyphicon.glyphicon-list-alt:hover{

    background-color: blanchedalmond;
  
}
span.glyphicon.glyphicon-trash:hover{
     background-color: blanchedalmond;
}