body{
    background-color: white;
}
.bg{
    background-color: white;
}
.top{
    height: 100px;
    line-height: 100px;
}
.logo{
    width:530px;
    margin-left: 100px;
}
.middle{
    height: 700px;
    background-image: url("../images/login_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.login_bg_photo{
    left: 60%;
    top: 20%;
    width: 450px;
    height: 350px;
    position: relative;
    background-image: url("../images/login_bg_photo.png");
    background-repeat: no-repeat;
    background-size: cover;

}